html,
body {
  width: 100%;
  height: 100%;
  background-color: #ffcc00;
  background-image: url("/images/background.jpg");
  background-size: cover;
  margin: 0%;
}

header {
  display: flex;
  text-align: center;
  justify-content: space-around;
  background-color: black;
  border: 3px solid black;
  color: #ffcc00;
  font-family: "Lobster";
  font-size: 100%;
  height: 10%;
  width: 100%;
  border-radius: 12px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  opacity: 0.8;
  
}

.topnav {
  display: flex;
  overflow: hidden;
  justify-content: space-around;
}

.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  font-family: "Lobster";
  opacity: 0.5;
  background-size: 200% 100%;
  transition: all 0.5s ease-in-out;
}

.topnav a:hover {
  color: black;
  padding: 10px 40px;
  overflow: hidden;
  opacity: 0.9;
  text-decoration: overline underline;
  text-decoration-color: blue;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  height: 22%;
}

.main-image {
  width: 20%;
  height: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.side-image {
  width: 20%;
  height: 12%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.small-image {
  height: 80px;
  width: 80px;
}

.footer-image {
  height: 50px;
  width: 50px;
}

.images {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

form {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  opacity: 0.9;
  bottom: 23px;
  right: 28px;
  width: 280px;
  border-radius: 12px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

footer {
  text-align: center;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 6%;
  z-index: 1;
}

li {
  background-color: black;
  color: white;
  width: 200px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: #ffcc00;
  border-radius: 12px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index: 2;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-basis: auto;
}

.form-popup {
  display: none;
  bottom: 0;
  right: 15px;
  z-index: 9;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover,
.open-button:hover,
.forms:hover {
  opacity: 1;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;

  bottom: 23px;
  right: 28px;
  width: auto;
}
* {
  box-sizing: border-box;
}

.slideshow-container {
  max-width: 25%;
  max-height: 10%;
  position: relative;
  margin: auto;
}

.slide {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  height: 100%;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.imagebar-container {
  display: flex;
  align-self: start;
}
.slideImg {
  height: 12%;
  width: 100%;
}
